<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="cn.wangtao.mapper.SysAccessControlMapper">

    <sql id="roleField">
      sys_access_control_seq,
      access_control_name,
      access_control_en_name,
      create_by,
      create_date,
      update_by,
      update_date
    </sql>

    <sql id="roleValue">
       #{sysAccessControlSeq},
       #{accessControlName},
       #{accessControlEnName},
       #{createBy},
       #{createDate},
       #{updateBy},
       #{updateDate}
    </sql>

    <sql id="selectWhere">
        <where>
          <if test="sysAccessControlSeq !=null and sysAccessControlSeq != ''">
              AND  sys_access_control_seq=#{sysAccessControlSeq}
          </if>
            <if test="accessControlName !=null and accessControlName != ''">
                AND  access_control_name=#{accessControlName}
            </if>
            <if test="accessControlEnName !=null and accessControlEnName != ''">
                AND  access_control_en_name=#{accessControlEnName}
            </if>
            <if test="createBy !=null and createBy != ''">
                AND  create_by=#{createBy}
            </if>
            <if test="createDate !=null and createDate != ''">
                AND  create_date=#{createDate}
            </if>
            <if test="updateBy !=null and updateBy != ''">
                AND  update_by=#{updateBy}
            </if>
            <if test="updateDate !=null and updateDate != ''">
                AND  update_date=#{updateDate}
            </if>
        </where>

    </sql>



</mapper>