<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="cn.wangtao.mapper.SysRoleAccessControlMapper">

    <sql id="field">
      role_access_seq,
      sys_role_seq,
      sys_access_control_seq,
      create_by_name,
      create_date
    </sql>

    <sql id="value">
       #{roleAccessSeq},
       #{sysRoleSeq},
       #{sysAccessControlSeq},
       #{createByName},
       #{createDate}
    </sql>

    <sql id="selectWhere">
        <where>
            <if test="roleAccessSeq !=null and roleAccessSeq != ''">
                AND  role_access_seq=#{roleAccessSeq}
            </if>
          <if test="sysRoleSeq !=null and sysRoleSeq != ''">
              AND  sys_role_seq=#{sysRoleSeq}
          </if>
            <if test="sysAccessControlSeq !=null and sysAccessControlSeq != ''">
                AND  sys_access_control_seq=#{sysAccessControlSeq}
            </if>
            <if test="createByName !=null and createByName != ''">
                AND  create_by_name=#{createByName}
            </if>
            <if test="createDate !=null and createDate != ''">
                AND  create_date=#{createDate}
            </if>
        </where>

    </sql>

    <delete id="deleteByTwoId" parameterType="long" >
        delete  from sys_role_access_control where  sys_role_seq=#{sysRoleSeq}  and  sys_access_control_seq=#{sysAccessControlSeq}
    </delete>


</mapper>