<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="cn.wangtao.mapper.SysRoleMapper">

    <sql id="field">
      sys_role_seq,
      role_name,
      role_en_name,
      create_by_name,
      create_date,
      update_by,
      update_date
    </sql>

    <sql id="value">
       #{sysRoleSeq},
       #{roleName},
       #{roleEnName},
       #{createByName},
       #{createDate},
       #{updateBy},
       #{updateDate}
    </sql>

    <sql id="selectWhere">
        <where>
          <if test="sysRoleSeq !=null and sysRoleSeq != ''">
              AND  sys_role_seq=#{sysRoleSeq}
          </if>
            <if test="roleName !=null and roleName != ''">
                AND  role_name=#{roleName}
            </if>
            <if test="roleEnName !=null and roleEnName != ''">
                AND  role_en_name=#{roleEnName}
            </if>
            <if test="createByName !=null and createByName != ''">
                AND  create_by_name=#{createByName}
            </if>
            <if test="createDate !=null and createDate != ''">
                AND  create_date=#{createDate}
            </if>
            <if test="updateBy !=null and updateBy != ''">
                AND  update_by=#{updateBy}
            </if>
            <if test="updateDate !=null and updateDate != ''">
                AND  update_date=#{updateDate}
            </if>
        </where>

    </sql>



</mapper>